* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

img,
svg {
  vertical-align: middle;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1320px;
}

header {
  background-color: #61b644;
  padding: 0.5rem 0;
}

.nav__list {
  list-style: none;
}

.nav__item {
  margin: 0 0 0 1.5rem;
}

.nav__link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

#intro-section {
  background-color: #61b644;
  padding: 8rem 0 0 0;
}

.display-2 {
  text-transform: capitalize;
  color: white;
  font-size: 4.5rem;
  font-weight: 400;
}
.display-2-description {
  font-size: 1.4rem;
  display: inline-block;
}

.download__tittle {
  text-align: center;
  margin-bottom: 3rem;
}

.download__logo-box {
  text-align: center;
  margin-bottom: 2rem;
  padding: 0.5rem;
}

footer {
  background-color: black;
  padding-top: 1rem;
}

.footer-sm {
  background-color: #212121;
  color: white;
}

.footer-sm a i {
  font-size: 1rem;
  margin-left: 1rem;
}

.footer-botton__copyrigth {
  text-align: center;
  color: gray;
  font-weight: 400;
  padding: 1.5rem 0;
}

.footer-botton__copyrigth a {
  color: gray;
  text-decoration: none;
}
