* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Righteous", cursive;
}
header {
  position: sticky;
}
.tittle {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 50px;
  margin-top: 10px;
}

.navPrincipal {
  margin-bottom: 50px;
}

.h2descript {
  margin-bottom: 30px;
}

.image-setup {
  margin-bottom: 30px;
}

.paragraph-1 {
  margin-bottom: 20px;
}

footer {
  background-color: black;
  padding-top: 1rem;
}

.footer-sm {
  background-color: #212121;
  color: white;
}

.footer-sm a i {
  font-size: 1rem;
  margin-left: 1rem;
}

.footer-button__copyright {
  text-align: center;
  color: gray;
  font-weight: 400;
  padding: 1.5rem 0;
}

.footer-button__copyright a {
  color: gray;
  text-decoration: none;
}
