* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Righteous", cursive;
}
header {
  position: sticky;
}
.tittle {
  text-align: center;
  font-size: 3rem;
  margin: 50px;
}
.navPrincipal {
  display: inline-block;
  padding: 20px;
  height: 350px;
  width: 350px;
}
